<!DOCTYPE html>
<html>
    <head>
        <title>@ViewBag.Title</title>
        <link href="@Url.Content("~/Content/Login.css")" rel="stylesheet" type="text/css" />
    </head>

    <body class="fullscreen-image">
        <div id="main">
            @RenderBody()
        </div>
    </body>
</html>
