@{
    ViewBag.Title = "Index";
    <link href="@Url.Content("~/Content/Home.css")" rel="stylesheet" type="text/css" />
}
@*@section Styles {
    <link href="@Url.Content("~/Content/Home.css")" rel="stylesheet" type="text/css" />
}*@


<div id="columnContainer">
    <div class="column">
        <a href="@Url.Action("Index","Trip")">
            <div id="trips">
                my trips
            </div>
        </a>
        <a href=@Url.Action("Index", "User")>
            <div id="user">
                user account
            </div>
        </a>
    </div>

    <div class="column">
        <a href="@Url.Action("Index", "Locker")">
            <div id="locker">
                my locker
            </div>
        </a>
    </div>
</div>


